node_red/flows_12_14.json
[
    {
        "id": "9dc7d6ae6b54526f",
        "type": "tab",
        "label": "플로우 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4bfcf901b2392c05",
        "type": "serial in",
        "z": "9dc7d6ae6b54526f",
        "name": "jsonFrom node",
        "serial": "f044b6e7b8fba745",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "62b8f054df11c1ef"
            ]
        ]
    },
    {
        "id": "62b8f054df11c1ef",
        "type": "json",
        "z": "9dc7d6ae6b54526f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 310,
        "y": 160,
        "wires": [
            [
                "e2c4771c9a5128dc",
                "967c6fdd84bf55ec",
                "7bd37969803dd616",
                "7dda00d323e5afee",
                "f5f5b7b5296ce00d",
                "862abf3e9150877d"
            ]
        ]
    },
    {
        "id": "e2c4771c9a5128dc",
        "type": "function",
        "z": "9dc7d6ae6b54526f",
        "name": "switch parse",
        "func": "var list = [false, true, false, true, false, true, false, true];\n\nvar obj = msg.payload;\nvar myNode = obj.no;\nvar category = obj.ca;\nvar sensor = obj.se;\nvar value = obj.va;\n\nif (category != 2) return;\n\nif(sensor & 0x01) list[0] = false;\nelse list[0] =true;\n\nif(sensor & 0x02) list[1] = false;\nelse list[1] =true;\n\nif(sensor & 0x04) list[2] = false;\nelse list[2] =true;\n\nif(sensor & 0x08) list[3] = false;\nelse list[3] =true;\n\nif(sensor & 0x10) list[4] = false;\nelse list[4] =true;\n\nif(sensor & 0x20) list[5] = false;\nelse list[5] =true;\n\nif(sensor & 0x40) list[6] = false;\nelse list[6] =true;\n\nif(sensor & 0x80) list[7] = false;\nelse list[7] =true;\n\nmsg.payload = list[0];\nvar msg1 = { payload: list[1] };\nvar msg2 = { payload: list[2] };\nvar msg3 = { payload: list[3] };\nvar msg4 = { payload: list[4] };\nvar msg5 = { payload: list[5] };\nvar msg6 = { payload: list[6] };\nvar msg7 = { payload: list[7] };\n\nlist = [msg, msg1, msg2, msg3, msg4, msg5, msg6, msg7];\nreturn list;\n",
        "outputs": 8,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 160,
        "wires": [
            [
                "34a5de8a53ae8d5f"
            ],
            [
                "f73e319e8cdbe7c5"
            ],
            [
                "79f3c1b079ae7881"
            ],
            [
                "64f317097353055a"
            ],
            [
                "6d1da043886ef082"
            ],
            [
                "25d89490baaffb45"
            ],
            [
                "b82da67c968f636b"
            ],
            [
                "ddfa9d6a11dee045"
            ]
        ]
    },
    {
        "id": "a5b79e6059e24cef",
        "type": "catch",
        "z": "9dc7d6ae6b54526f",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 120,
        "y": 60,
        "wires": [
            [
                "4e34d11cd49bec32"
            ]
        ]
    },
    {
        "id": "4e34d11cd49bec32",
        "type": "debug",
        "z": "9dc7d6ae6b54526f",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 60,
        "wires": []
    },
    {
        "id": "ddfa9d6a11dee045",
        "type": "ui_switch",
        "z": "9dc7d6ae6b54526f",
        "name": "",
        "label": "switch7",
        "tooltip": "",
        "group": "b187e9defb00038b",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 800,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "34a5de8a53ae8d5f",
        "type": "ui_switch",
        "z": "9dc7d6ae6b54526f",
        "name": "",
        "label": "switch0",
        "tooltip": "",
        "group": "b187e9defb00038b",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 800,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "f73e319e8cdbe7c5",
        "type": "ui_switch",
        "z": "9dc7d6ae6b54526f",
        "name": "",
        "label": "switch1",
        "tooltip": "",
        "group": "b187e9defb00038b",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 800,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "79f3c1b079ae7881",
        "type": "ui_switch",
        "z": "9dc7d6ae6b54526f",
        "name": "",
        "label": "switch2",
        "tooltip": "",
        "group": "b187e9defb00038b",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 800,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "64f317097353055a",
        "type": "ui_switch",
        "z": "9dc7d6ae6b54526f",
        "name": "",
        "label": "switch3",
        "tooltip": "",
        "group": "b187e9defb00038b",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 800,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "6d1da043886ef082",
        "type": "ui_switch",
        "z": "9dc7d6ae6b54526f",
        "name": "",
        "label": "switch4",
        "tooltip": "",
        "group": "b187e9defb00038b",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 800,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "25d89490baaffb45",
        "type": "ui_switch",
        "z": "9dc7d6ae6b54526f",
        "name": "",
        "label": "switch5",
        "tooltip": "",
        "group": "b187e9defb00038b",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 800,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "b82da67c968f636b",
        "type": "ui_switch",
        "z": "9dc7d6ae6b54526f",
        "name": "",
        "label": "switch6",
        "tooltip": "",
        "group": "b187e9defb00038b",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 800,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "95401a2c89180896",
        "type": "ui_switch",
        "z": "9dc7d6ae6b54526f",
        "name": "",
        "label": "relay0",
        "tooltip": "",
        "group": "8cbc90e4ec598b26",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "0",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 370,
        "y": 480,
        "wires": [
            [
                "3c7680eb3634e50b"
            ]
        ]
    },
    {
        "id": "1a732778edf72c5a",
        "type": "ui_switch",
        "z": "9dc7d6ae6b54526f",
        "name": "",
        "label": "relay4",
        "tooltip": "",
        "group": "8cbc90e4ec598b26",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "4",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 370,
        "y": 640,
        "wires": [
            [
                "3c7680eb3634e50b"
            ]
        ]
    },
    {
        "id": "55527eb70b7c8228",
        "type": "ui_switch",
        "z": "9dc7d6ae6b54526f",
        "name": "",
        "label": "relay1",
        "tooltip": "",
        "group": "8cbc90e4ec598b26",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "1",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 370,
        "y": 520,
        "wires": [
            [
                "3c7680eb3634e50b"
            ]
        ]
    },
    {
        "id": "e392a5a677d8562b",
        "type": "ui_switch",
        "z": "9dc7d6ae6b54526f",
        "name": "",
        "label": "relay2",
        "tooltip": "",
        "group": "8cbc90e4ec598b26",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "2",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 370,
        "y": 560,
        "wires": [
            [
                "3c7680eb3634e50b"
            ]
        ]
    },
    {
        "id": "823d2125aa8b76a1",
        "type": "ui_switch",
        "z": "9dc7d6ae6b54526f",
        "name": "",
        "label": "relay3",
        "tooltip": "",
        "group": "8cbc90e4ec598b26",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "3",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 370,
        "y": 600,
        "wires": [
            [
                "3c7680eb3634e50b"
            ]
        ]
    },
    {
        "id": "d8397717f7302089",
        "type": "ui_switch",
        "z": "9dc7d6ae6b54526f",
        "name": "",
        "label": "relay5",
        "tooltip": "",
        "group": "8cbc90e4ec598b26",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "5",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 370,
        "y": 680,
        "wires": [
            [
                "3c7680eb3634e50b"
            ]
        ]
    },
    {
        "id": "2a8ffad6597f85bb",
        "type": "ui_switch",
        "z": "9dc7d6ae6b54526f",
        "name": "",
        "label": "relay6",
        "tooltip": "",
        "group": "8cbc90e4ec598b26",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "6",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 370,
        "y": 720,
        "wires": [
            [
                "3c7680eb3634e50b"
            ]
        ]
    },
    {
        "id": "0795889f4391ace5",
        "type": "ui_switch",
        "z": "9dc7d6ae6b54526f",
        "name": "",
        "label": "relay7",
        "tooltip": "",
        "group": "8cbc90e4ec598b26",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "7",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 370,
        "y": 760,
        "wires": [
            [
                "3c7680eb3634e50b"
            ]
        ]
    },
    {
        "id": "e06b3764a525fe29",
        "type": "json",
        "z": "9dc7d6ae6b54526f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 570,
        "y": 780,
        "wires": [
            [
                "d160b2afa8f7126c"
            ]
        ]
    },
    {
        "id": "19527beb221a8b4e",
        "type": "debug",
        "z": "9dc7d6ae6b54526f",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 740,
        "wires": []
    },
    {
        "id": "d160b2afa8f7126c",
        "type": "serial out",
        "z": "9dc7d6ae6b54526f",
        "name": "",
        "serial": "f044b6e7b8fba745",
        "x": 860,
        "y": 700,
        "wires": []
    },
    {
        "id": "80e5e6dbae25f7c0",
        "type": "json",
        "z": "9dc7d6ae6b54526f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 730,
        "y": 980,
        "wires": [
            [
                "d160b2afa8f7126c"
            ]
        ]
    },
    {
        "id": "212b48e6acbeee68",
        "type": "ui_numeric",
        "z": "9dc7d6ae6b54526f",
        "name": "",
        "label": "ble num",
        "tooltip": "",
        "group": "551a49aa0f875b2e",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "255",
        "step": 1,
        "className": "",
        "x": 140,
        "y": 1000,
        "wires": [
            [
                "a13de676ff047734"
            ]
        ]
    },
    {
        "id": "a13de676ff047734",
        "type": "function",
        "z": "9dc7d6ae6b54526f",
        "name": "get ble",
        "func": "var ble_num = msg.payload;\nflow.set(\"ble_num\", ble_num);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "1f9fea7a47d743fc",
        "type": "ui_dropdown",
        "z": "9dc7d6ae6b54526f",
        "name": "channel",
        "label": "channel",
        "tooltip": "",
        "place": "Select option",
        "group": "c04f5b13d733f7f5",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Ethernet",
                "value": 0,
                "type": "num"
            },
            {
                "label": "RS485",
                "value": 1,
                "type": "num"
            },
            {
                "label": "Lora",
                "value": 2,
                "type": "num"
            },
            {
                "label": "T.B.d",
                "value": 3,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "channel",
        "topicType": "str",
        "className": "",
        "x": 80,
        "y": 1160,
        "wires": [
            [
                "414c2fc9b7272a8a"
            ]
        ]
    },
    {
        "id": "20b0eca270d64873",
        "type": "function",
        "z": "9dc7d6ae6b54526f",
        "name": "set channel",
        "func": "var uart = flow.get('uart');\nvar lora = flow.get('lora');\nmsg.payload = { \"no\": 1, \"ca\": 16, \"se\": uart, \"va\": lora};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1180,
        "wires": [
            [
                "80e5e6dbae25f7c0"
            ]
        ]
    },
    {
        "id": "7aaf47665338b9f8",
        "type": "ui_button",
        "z": "9dc7d6ae6b54526f",
        "name": "",
        "group": "551a49aa0f875b2e",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "number set",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 330,
        "y": 1100,
        "wires": [
            [
                "642149bdab5a99d2"
            ]
        ]
    },
    {
        "id": "ff03a2924c49c4d5",
        "type": "ui_numeric",
        "z": "9dc7d6ae6b54526f",
        "name": "",
        "label": "version",
        "tooltip": "",
        "group": "551a49aa0f875b2e",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "255",
        "step": 1,
        "className": "",
        "x": 140,
        "y": 1040,
        "wires": [
            [
                "1a10126bf082fba6"
            ]
        ]
    },
    {
        "id": "1a10126bf082fba6",
        "type": "function",
        "z": "9dc7d6ae6b54526f",
        "name": "get node",
        "func": "var version = msg.payload;\nflow.set(\"new_version\", version);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "642149bdab5a99d2",
        "type": "function",
        "z": "9dc7d6ae6b54526f",
        "name": "set node",
        "func": "var version = flow.get(\"new_version\");\nvar ble_num = flow.get(\"ble_num\");\n\n\nmsg.payload = { \"no\": 1, \"ca\": 25, \"se\": version, \"va\": ble_num};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 1100,
        "wires": [
            [
                "80e5e6dbae25f7c0"
            ]
        ]
    },
    {
        "id": "967c6fdd84bf55ec",
        "type": "function",
        "z": "9dc7d6ae6b54526f",
        "name": "adc switch",
        "func": "var obj = msg.payload;\nvar myNode = obj.no;\nvar category = obj.ca;\nvar sensor = obj.se;\nvar value = obj.va;\n\nswitch(category){\n    case 1: //adc\n        flow.set(\"adc1\", sensor);\n        flow.set(\"adc2\", value);\n    break;\n    // case 4: //lora_device\n    //     flow.set(\"rssi\", sensor);\n    //     flow.set(\"power\", value);\n    // break;\n    // case 5: //version\n    //     flow.set(\"version\", sensor);\n    //     flow.set(\"ble_num\", value);\n    // break;\n    // case 6: //channel\n    //     flow.set(\"now_uart\", sensor);\n    //     flow.set(\"now_lora\", value);\n    // break;\n    default: return;\n}\n\nvar version = flow.get(\"version\") | 0;\nvar ble_num = flow.get(\"ble_num\") | 0;\nvar adc1 = flow.get(\"adc1\") | 0;\nvar adc2 = flow.get(\"adc2\") | 0;\nvar uart = flow.get(\"now_uart\") | 0;\nvar lora_ch = flow.get(\"now_lora\") | 0;\nvar rssi = flow.get(\"rssi\") | 0;\nvar power = flow.get(\"power\") | 0;\n\nmsg.payload = adc1;\nvar msg1 = { payload: adc2 };\nvar list = [msg, msg1];\nreturn list;",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 280,
        "wires": [
            [
                "9d7bef885e13a4e7"
            ],
            [
                "e7e1a88cfb7f09f6"
            ]
        ]
    },
    {
        "id": "247aa0eab8b9dde8",
        "type": "ui_text",
        "z": "9dc7d6ae6b54526f",
        "group": "8fd56933f0d9ec84",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Version: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 800,
        "y": 520,
        "wires": []
    },
    {
        "id": "043e3ff97263b431",
        "type": "ui_text",
        "z": "9dc7d6ae6b54526f",
        "group": "b03aef8a27d99238",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "rssi: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 790,
        "y": 480,
        "wires": []
    },
    {
        "id": "9d7bef885e13a4e7",
        "type": "ui_gauge",
        "z": "9dc7d6ae6b54526f",
        "name": "",
        "group": "187e67f6b37403a2",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "adc1",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 360,
        "wires": []
    },
    {
        "id": "e7e1a88cfb7f09f6",
        "type": "ui_gauge",
        "z": "9dc7d6ae6b54526f",
        "name": "",
        "group": "187e67f6b37403a2",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "adc2",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 400,
        "wires": []
    },
    {
        "id": "309b9eedd0727de8",
        "type": "ui_numeric",
        "z": "9dc7d6ae6b54526f",
        "name": "",
        "label": "lora power",
        "tooltip": "",
        "group": "8a0ae71699e63e4c",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "20",
        "step": 1,
        "className": "",
        "x": 130,
        "y": 1320,
        "wires": [
            [
                "3a778cb7af6d7761"
            ]
        ]
    },
    {
        "id": "c081b496ed832dbf",
        "type": "function",
        "z": "9dc7d6ae6b54526f",
        "name": "set power",
        "func": "var power = flow.get('lora_power');\nmsg.payload = { \"no\": 1, \"ca\": 14, \"se\": power, \"va\": power};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 1280,
        "wires": [
            [
                "80e5e6dbae25f7c0"
            ]
        ]
    },
    {
        "id": "a7affb6b7aafabb9",
        "type": "ui_button",
        "z": "9dc7d6ae6b54526f",
        "name": "",
        "group": "8fd56933f0d9ec84",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "request Information",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 900,
        "wires": [
            [
                "b83fd444b0397a9d"
            ]
        ]
    },
    {
        "id": "7d075a824342f517",
        "type": "ui_numeric",
        "z": "9dc7d6ae6b54526f",
        "name": "",
        "label": "request node num",
        "tooltip": "",
        "group": "8fd56933f0d9ec84",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 170,
        "y": 860,
        "wires": [
            [
                "c59e7ba1a31ee808"
            ]
        ]
    },
    {
        "id": "c59e7ba1a31ee808",
        "type": "function",
        "z": "9dc7d6ae6b54526f",
        "name": "set request node",
        "func": "flow.set(\"req_node\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "b83fd444b0397a9d",
        "type": "function",
        "z": "9dc7d6ae6b54526f",
        "name": "set request node",
        "func": "var req_node = flow.get(\"req_node\");\nmsg.payload = { \"no\": req_node, \"ca\": 7, \"se\": 2, \"va\": 0, \"crc\": 0 }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 900,
        "wires": [
            [
                "80e5e6dbae25f7c0"
            ]
        ]
    },
    {
        "id": "f4926a662ee482e3",
        "type": "ui_button",
        "z": "9dc7d6ae6b54526f",
        "name": "",
        "group": "c04f5b13d733f7f5",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "set channel",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 310,
        "y": 1180,
        "wires": [
            [
                "20b0eca270d64873"
            ]
        ]
    },
    {
        "id": "617daede40ea069f",
        "type": "ui_numeric",
        "z": "9dc7d6ae6b54526f",
        "name": "",
        "label": "lora ch",
        "tooltip": "",
        "group": "c04f5b13d733f7f5",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "lora",
        "topicType": "str",
        "format": "{{value}}",
        "min": "1",
        "max": "23",
        "step": 1,
        "className": "",
        "x": 70,
        "y": 1220,
        "wires": [
            [
                "414c2fc9b7272a8a"
            ]
        ]
    },
    {
        "id": "414c2fc9b7272a8a",
        "type": "function",
        "z": "9dc7d6ae6b54526f",
        "name": "set channel ",
        "func": "if(msg.topic == 'channel'){\n    flow.set('uart', msg.payload);\n    msg.payload = 'uart channel: ' + msg.payload;\n} \nelse if(msg.topic){\n    flow.set('lora', msg.payload);\n    msg.payload = 'lora channel: ' + msg.payload;\n}\nelse{\n    msg.payload = \"error data in channel\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "0b996d4006aee902",
        "type": "ui_text",
        "z": "9dc7d6ae6b54526f",
        "group": "b03aef8a27d99238",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "lora ch",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 790,
        "y": 640,
        "wires": []
    },
    {
        "id": "25ca4bb6e5b02a44",
        "type": "ui_text",
        "z": "9dc7d6ae6b54526f",
        "group": "b03aef8a27d99238",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "power",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 790,
        "y": 440,
        "wires": []
    },
    {
        "id": "d2c2d104a224696e",
        "type": "ui_dropdown",
        "z": "9dc7d6ae6b54526f",
        "name": "now Channel",
        "label": "now channel",
        "tooltip": "",
        "place": "Select option",
        "group": "461a06597ab3daf5",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Ethernet",
                "value": 0,
                "type": "num"
            },
            {
                "label": "RS485",
                "value": 1,
                "type": "num"
            },
            {
                "label": "Lora",
                "value": 2,
                "type": "num"
            },
            {
                "label": "T.B.d",
                "value": 3,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "channel",
        "topicType": "str",
        "className": "",
        "x": 810,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "048485c38ef4be5b",
        "type": "ui_button",
        "z": "9dc7d6ae6b54526f",
        "name": "",
        "group": "8a0ae71699e63e4c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 310,
        "y": 1280,
        "wires": [
            [
                "c081b496ed832dbf"
            ]
        ]
    },
    {
        "id": "3a778cb7af6d7761",
        "type": "function",
        "z": "9dc7d6ae6b54526f",
        "name": "function 2",
        "func": "flow.set('lora_power', msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "e7d1c3bd427ce64d",
        "type": "ui_text",
        "z": "9dc7d6ae6b54526f",
        "group": "8fd56933f0d9ec84",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "node, ble, wifi num: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 830,
        "y": 560,
        "wires": []
    },
    {
        "id": "7bd37969803dd616",
        "type": "function",
        "z": "9dc7d6ae6b54526f",
        "name": "lora switch ",
        "func": "var obj = msg.payload;\nvar myNode = obj.no;\nvar category = obj.ca;\nvar sensor = obj.se;\nvar value = obj.va;\n\nswitch(category){\n    // case 1: //adc\n    //     flow.set(\"adc1\", sensor);\n    //     flow.set(\"adc2\", value);\n    // break;\n    case 4: //lora_device\n        flow.set(\"rssi\", sensor);\n        flow.set(\"power\", value);\n    break;\n    // case 5: //version\n    //     flow.set(\"version\", sensor);\n    //     flow.set(\"ble_num\", value);\n    // break;\n    // case 6: //channel\n    //     flow.set(\"now_uart\", sensor);\n    //     flow.set(\"now_lora\", value);\n    // break;\n    default: return;\n}\n\nvar version = flow.get(\"version\") | 0;\nvar ble_num = flow.get(\"ble_num\") | 0;\nvar adc1 = flow.get(\"adc1\") | 0;\nvar adc2 = flow.get(\"adc2\") | 0;\nvar uart = flow.get(\"now_uart\") | 0;\nvar lora_ch = flow.get(\"now_lora\") | 0;\nvar rssi = flow.get(\"rssi\") | 0;\nvar power = flow.get(\"power\") | 0;\n\nmsg.payload = rssi;\nvar msg1 = { payload: power };\nvar list = [msg, msg1];\nreturn list;",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 340,
        "wires": [
            [
                "25ca4bb6e5b02a44"
            ],
            [
                "043e3ff97263b431"
            ]
        ]
    },
    {
        "id": "7dda00d323e5afee",
        "type": "function",
        "z": "9dc7d6ae6b54526f",
        "name": "lora switch ",
        "func": "var obj = msg.payload;\nvar myNode = obj.no;\nvar category = obj.ca;\nvar sensor = obj.se;\nvar value = obj.va;\n\nswitch(category){\n    // case 1: //adc\n    //     flow.set(\"adc1\", sensor);\n    //     flow.set(\"adc2\", value);\n    // break;\n    // case 4: //lora_device\n    //     flow.set(\"rssi\", sensor);\n    //     flow.set(\"power\", value);\n    // break;\n    case 5: //version\n        flow.set(\"version\", sensor);\n        flow.set(\"ble_num\", value);\n    break;\n    // case 6: //channel\n    //     flow.set(\"now_uart\", sensor);\n    //     flow.set(\"now_lora\", value);\n    // break;\n    default: return;\n}\n\nvar version = flow.get(\"version\") | 0;\nvar ble_num = flow.get(\"ble_num\") | 0;\nvar adc1 = flow.get(\"adc1\") | 0;\nvar adc2 = flow.get(\"adc2\") | 0;\nvar uart = flow.get(\"now_uart\") | 0;\nvar lora_ch = flow.get(\"now_lora\") | 0;\nvar rssi = flow.get(\"rssi\") | 0;\nvar power = flow.get(\"power\") | 0;\n\nmsg.payload = version;\nvar msg1 = { payload: ble_num };\nvar list = [msg, msg1];\nreturn list;",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 400,
        "wires": [
            [
                "247aa0eab8b9dde8"
            ],
            [
                "e7d1c3bd427ce64d"
            ]
        ]
    },
    {
        "id": "f5f5b7b5296ce00d",
        "type": "function",
        "z": "9dc7d6ae6b54526f",
        "name": "channel switch ",
        "func": "var obj = msg.payload;\nvar myNode = obj.no;\nvar category = obj.ca;\nvar sensor = obj.se;\nvar value = obj.va;\n\nswitch(category){\n    // case 1: //adc\n    //     flow.set(\"adc1\", sensor);\n    //     flow.set(\"adc2\", value);\n    // break;\n    // case 4: //lora_device\n    //     flow.set(\"rssi\", sensor);\n    //     flow.set(\"power\", value);\n    // break;\n    // case 5: //version\n    //     flow.set(\"version\", sensor);\n    //     flow.set(\"ble_num\", value);\n    // break;\n    case 6: //channel\n        flow.set(\"now_uart\", sensor);\n        flow.set(\"now_lora\", value);\n    break;\n    default: return;\n}\n\nvar version = flow.get(\"version\") | 0;\nvar ble_num = flow.get(\"ble_num\") | 0;\nvar adc1 = flow.get(\"adc1\") | 0;\nvar adc2 = flow.get(\"adc2\") | 0;\nvar uart = flow.get(\"now_uart\") | 0;\nvar lora_ch = flow.get(\"now_lora\") | 0;\nvar rssi = flow.get(\"rssi\") | 0;\nvar power = flow.get(\"power\") | 0;\n\nmsg.payload = uart;\nvar msg1 = { payload: lora_ch };\nvar list = [msg, msg1];\nreturn list;",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 500,
        "wires": [
            [
                "d2c2d104a224696e"
            ],
            [
                "0b996d4006aee902"
            ]
        ]
    },
    {
        "id": "862abf3e9150877d",
        "type": "function",
        "z": "9dc7d6ae6b54526f",
        "name": "switch parse",
        "func": "var list = [false, true, false, true, false, true, false, true];\n\nvar obj = msg.payload;\nvar myNode = obj.no;\nvar category = obj.ca;\nvar sensor = obj.se;\nvar value = obj.va;\n\nif (category != 3) return;\n\nif(sensor & 0x01) list[0] = true;\nelse list[0] = false;\n\nif(sensor & 0x02) list[1] = true;\nelse list[1] = false;\n\nif (sensor & 0x04) list[2] = true;\nelse list[2] = false;\n\nif (sensor & 0x08) list[3] = true;\nelse list[3] = false;\n\nif (sensor & 0x10) list[4] = true;\nelse list[4] = false;\n\nif (sensor & 0x20) list[5] = true;\nelse list[5] = false;\n\nif (sensor & 0x40) list[6] = true;\nelse list[6] = false;\n\nif (sensor & 0x80) list[7] = true;\nelse list[7] =false;\n\nmsg.payload = list[0];\nvar msg1 = { payload: list[1] };\nvar msg2 = { payload: list[2] };\nvar msg3 = { payload: list[3] };\nvar msg4 = { payload: list[4] };\nvar msg5 = { payload: list[5] };\nvar msg6 = { payload: list[6] };\nvar msg7 = { payload: list[7] };\n\nlist = [msg, msg1, msg2, msg3, msg4, msg5, msg6, msg7];\nreturn list;\n",
        "outputs": 8,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 110,
        "y": 280,
        "wires": [
            [
                "afe5a7f4e56dace2"
            ],
            [
                "8e0593569f658164"
            ],
            [
                "c676f18dbc43cf0d"
            ],
            [
                "c49c2df01e23423d"
            ],
            [
                "7370ceb2d90152cb"
            ],
            [
                "3651605c06532d70"
            ],
            [
                "b495a2a1827c10ac"
            ],
            [
                "1b9ac78f23f6d7b9"
            ]
        ]
    },
    {
        "id": "3c7680eb3634e50b",
        "type": "function",
        "z": "9dc7d6ae6b54526f",
        "name": "set relay",
        "func": "var se = Number(msg.topic);\nvar va = 0;\nif(msg.payload) va = 1;\n\nmsg.payload = {\"no\":1,\"ca\":13,\"se\":se,\"va\":va,\"crc\":12};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 700,
        "wires": [
            [
                "e06b3764a525fe29"
            ]
        ]
    },
    {
        "id": "afe5a7f4e56dace2",
        "type": "ui_switch",
        "z": "9dc7d6ae6b54526f",
        "name": "",
        "label": "relay0 status",
        "tooltip": "",
        "group": "76ecdcaa98f728c4",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "0",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 210,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "7370ceb2d90152cb",
        "type": "ui_switch",
        "z": "9dc7d6ae6b54526f",
        "name": "",
        "label": "relay4 status",
        "tooltip": "",
        "group": "76ecdcaa98f728c4",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "4",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 210,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "8e0593569f658164",
        "type": "ui_switch",
        "z": "9dc7d6ae6b54526f",
        "name": "",
        "label": "relay1 status",
        "tooltip": "",
        "group": "76ecdcaa98f728c4",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "1",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 210,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "c676f18dbc43cf0d",
        "type": "ui_switch",
        "z": "9dc7d6ae6b54526f",
        "name": "",
        "label": "relay2 status",
        "tooltip": "",
        "group": "76ecdcaa98f728c4",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "2",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 210,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "c49c2df01e23423d",
        "type": "ui_switch",
        "z": "9dc7d6ae6b54526f",
        "name": "",
        "label": "relay3 status",
        "tooltip": "",
        "group": "76ecdcaa98f728c4",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "3",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 210,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "3651605c06532d70",
        "type": "ui_switch",
        "z": "9dc7d6ae6b54526f",
        "name": "",
        "label": "relay5 status",
        "tooltip": "",
        "group": "76ecdcaa98f728c4",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "5",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 210,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "b495a2a1827c10ac",
        "type": "ui_switch",
        "z": "9dc7d6ae6b54526f",
        "name": "",
        "label": "relay6 status",
        "tooltip": "",
        "group": "76ecdcaa98f728c4",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "6",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 210,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "1b9ac78f23f6d7b9",
        "type": "ui_switch",
        "z": "9dc7d6ae6b54526f",
        "name": "",
        "label": "relay7 status",
        "tooltip": "",
        "group": "76ecdcaa98f728c4",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "7",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 210,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "f044b6e7b8fba745",
        "type": "serial-port",
        "name": "",
        "serialport": "/dev/tty.usbserial-005E0EA3",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "\\n",
        "responsetimeout": "10000"
    },
    {
        "id": "b187e9defb00038b",
        "type": "ui_group",
        "name": "whybiz_sw",
        "tab": "801378ee1394f0b0",
        "order": 3,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8cbc90e4ec598b26",
        "type": "ui_group",
        "name": "whybiz_relay",
        "tab": "801378ee1394f0b0",
        "order": 1,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "551a49aa0f875b2e",
        "type": "ui_group",
        "name": "whybiz_node",
        "tab": "3d74f4ac833842a5",
        "order": 1,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c04f5b13d733f7f5",
        "type": "ui_group",
        "name": "whybiz_channel",
        "tab": "801378ee1394f0b0",
        "order": 4,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8fd56933f0d9ec84",
        "type": "ui_group",
        "name": "whybiz_info",
        "tab": "bf8dd84ede46002f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b03aef8a27d99238",
        "type": "ui_group",
        "name": "whybiz_lora",
        "tab": "bf8dd84ede46002f",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "187e67f6b37403a2",
        "type": "ui_group",
        "name": "whybiz_ADC",
        "tab": "bf8dd84ede46002f",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8a0ae71699e63e4c",
        "type": "ui_group",
        "name": "whybiz_lora_power",
        "tab": "801378ee1394f0b0",
        "order": 5,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "461a06597ab3daf5",
        "type": "ui_group",
        "name": "whybiz_channel",
        "tab": "bf8dd84ede46002f",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "76ecdcaa98f728c4",
        "type": "ui_group",
        "name": "whybiz_relay_status",
        "tab": "801378ee1394f0b0",
        "order": 2,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "801378ee1394f0b0",
        "type": "ui_tab",
        "name": "whybiz control",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3d74f4ac833842a5",
        "type": "ui_tab",
        "name": "whybiz factor set",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bf8dd84ede46002f",
        "type": "ui_tab",
        "name": "whybiz Info",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]